@import "tailwindcss";
.footer-title {
  @apply text-white text-sm font-semibold mb-4 uppercase tracking-wider;
}

.footer-list {
  @apply space-y-2 text-sm text-gray-400;
}

.footer-list li {
  @apply cursor-pointer hover:text-white transition;
}
